body {
  background-color: midnightblue;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
}

.copy-button {
  background-color: steelblue;
  text-align: center;
  color: white;
  cursor: pointer;
}

.text {
  background-color: royalblue;
  text-align: center;
  color: white;
}