:root {
  --color-1: #acacac;
  --color-2: #000000;
  --point-0: #acacac;
  --point-1: linear-gradient(
    0deg,
    var(--color-2) 15%,
    transparent 16%,
    transparent 17%,
    var(--color-1) 18%
  );
  --point-2: linear-gradient(
    0deg,
    var(--color-2) 23%,
    transparent 24%,
    transparent 25%,
    var(--color-1) 26%
  );
  --point-3: linear-gradient(
    0deg,
    var(--color-2) 31%,
    transparent 32%,
    transparent 33%,
    var(--color-1) 34%
  );
  --point-4: linear-gradient(
    0deg,
    var(--color-2) 39%,
    transparent 40%,
    transparent 41%,
    var(--color-1) 42%
  );
  --point-5: linear-gradient(
    0deg,
    var(--color-2) 48%,
    transparent 49%,
    transparent 50%,
    var(--color-1) 51%
  );
  --point-6: linear-gradient(
    0deg,
    var(--color-2) 56%,
    transparent 57%,
    transparent 58%,
    var(--color-1) 59%
  );
  --point-7: linear-gradient(
    0deg,
    var(--color-2) 64%,
    transparent 65%,
    transparent 66%,
    var(--color-1) 67%
  );
  --point-8: linear-gradient(
    0deg,
    var(--color-2) 72%,
    transparent 73%,
    transparent 74%,
    var(--color-1) 75%
  );
  --point-9: linear-gradient(
    0deg,
    var(--color-2) 80%,
    transparent 81%,
    transparent 82%,
    var(--color-1) 83%
  );
  --point-10: var(--color-2);
}

body {
  background-color: rgb(199, 206, 216);
  width: 100wh;
}

.container__card {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 40%;
  width: 20%;
  padding: 5px;
}

.container__card--values {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.container__card--attr {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.container__card--text {
  padding: 1rem;
}

/*.container__card--text:first-letter {
  text-transform: uppercase;
  font-size: 36px;
}*/

.container__card--btns {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.container__cards--action {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border: solid 5px white;
  color: white;
  cursor: pointer;
}

/* Utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pa-home {
  background: var(--point-5);
}
.pa-church {
  background: var(--point-8);
}
.pa-power {
  background: var(--point-8);
}
.pa-money {
  background: var(--point-8);
}
.pa-magic {
  background: var(--point-8);
}

.point-amount {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
